.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.badge {
  margin: 0.25rem 0;
}

.balances {
  width: 100%;
  margin: 1rem 0;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerActions {
  margin-top: 1.5rem;
}
